absl-py==2.0.0
arviz==0.14.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
bambi==0.12.0
blackjax==1.0.0
cachetools==5.3.2
certifi==2023.11.17
cftime==1.6.3
charset-normalizer==3.3.2
chex==0.1.85
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
cons==0.4.6
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.6
debugpy @ file:///D:/bld/debugpy_1695534451132/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
etuples==0.3.9
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastprogress==1.0.3
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.46.0
formulae==0.5.1
fsspec==2023.12.1
graphviz==0.20.1
hddm-wfpt==0.1.2
HSSM==0.1.5
huggingface-hub==0.15.1
humanfriendly==10.0
idna==3.6
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1701632192416/work
intel-openmp==2024.0.0
ipykernel @ file:///D:/bld/ipykernel_1698244157926/work
ipython @ file:///D:/bld/ipython_1701831845989/work
jax==0.4.21
jaxlib==0.4.21
jaxopt==0.8.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
joblib==1.3.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///D:/bld/jupyter_core_1698673822668/work
kiwisolver==1.4.5
logical-unification==0.4.6
matplotlib==3.8.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
miniKanren==1.0.3
mkl==2024.0.0
mkl-service==2.4.0
ml-dtypes==0.3.1
mpmath==1.3.0
multipledispatch==1.0.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
netCDF4==1.6.5
numpy==1.25.2
numpyro==0.12.1
onnx==1.15.0
onnxruntime==1.16.3
opt-einsum==3.3.0
optax==0.1.7
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.1.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.1.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1699963054032/work
protobuf==4.25.1
psutil @ file:///D:/bld/psutil_1695367331398/work
Psychofit==1.0.0.post0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pymc==5.6.1
pyparsing==3.1.1
pyreadline3==3.4.1
pytensor==2.12.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq @ file:///D:/bld/pyzmq_1701783313681/work
requests==2.31.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
ssm-simulators==0.3.2
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.12
tbb==2021.11.0
threadpoolctl==3.2.0
toolz==0.12.0
tornado @ file:///D:/bld/tornado_1695373601455/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1701095650114/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata==2023.3
urllib3==2.1.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1700607916581/work
xarray==2023.11.0
xarray-einstats==0.6.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
